﻿/* Ceci est un commentaire */

/* un commentaire n'est vu que par le developpeur.
Il n'est donc pas vu par le code. Tout le code ici ne sera donc pas executer car ce sont tous les commentaires*/

/* Il suffit de retirer les balises des commentaire /*


/* début de la balise
Fin de a balise */

/*
 h1 {
  color : red;
}
*/

/*
h2 {
  color : blue;
}
*/

div.content{
  padding:10px;
  margin:10px;
}

img.petite{
  width:100px;
}

img.moyenne{
  width:500px;
}

img.grande{
  width:1000px;
}